@import "tailwindcss";

body{
    background-color: black;
    max-width: 85%;
    margin: 0 auto;
    overflow-x: hidden; 
}

@media (max-width: 730px) {
    .image-link{
        height: 184px;
        width: 448px;
    }

    .img-footer{
        width: 100%;
    }

    .logo{
        height: 450px;
    }

    .bienvenido{
        width: 850px;
        height: 280px;
        object-fit: cover;
    }

    .header{
        padding-bottom:24px;
        padding-top: 48px;
    }
}

